.ligneBordersA{ border-radius: 4px; border: 4px solid #EA1523; color: #EA1523;}
.ligneBorders7{ border-radius: 4px; border: 4px solid #FF645A;}
.ligneBorders8{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBordersTVM{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders20{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders21{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders22{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders24{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders26{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders27{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders027{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders28{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders028{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders29{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders029{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders30{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders030{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders31{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders32{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders35{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders38{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders39{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders42{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders43{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders46{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders47{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders48{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders52{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders53{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders54{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders56{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders57{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders58{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders60{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders61{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders62{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders63{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders64{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders65{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders66{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders67{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders68{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders69{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders70{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders72{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders73{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders74{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders75{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders76{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders80{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders81{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders82{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders83{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders84{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders85{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders86{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders87{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders88{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders89{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders91{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders92{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders93{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders94{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders95{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders96{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBordersPC1{ border-radius: 4px; border: 4px solid #640082;}
.ligneBordersPC2{ border-radius: 4px; border: 4px solid #FF645A;}
.ligneBordersPC3{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders101{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders102{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders103{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders104{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders105{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders106{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders107{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders108{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders109{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders110{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders111{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders112{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders113{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders114{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders115{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders116{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders117{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders118{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders119{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders120{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders121{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders122{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders123{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders124{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders125{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders126{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders127{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders128{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders129{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders131{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders132{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders133{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders134{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders137{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders138{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders139{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders140{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders141{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders143{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders144{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders145{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders146{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders147{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders148{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders150{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders151{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders152{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders153{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders154{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders156{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders157{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders158{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders159{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders160{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders161{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders162{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders163{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders164{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders165{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders166{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders167{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders168{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders169{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders170{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders171{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders172{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders173{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders174{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders175{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders176{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders177{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders178{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders179{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders180{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders181{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders182{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders183{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders184{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders185{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders186{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders187{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders188{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders189{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders190{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders191{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders192{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders194{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders195{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders196{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders197{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders199{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders201{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders203{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders206{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders207{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders208{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders210{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders211{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders212{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders213{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders214{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders215{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders216{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders217{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders220{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders221{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders234{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders235{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders237{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders238{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders239{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders240{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders241{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders244{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders247{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders248{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders249{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders250{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders251{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders252{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders253{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders254{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders254{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders255{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders256{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders258{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders261{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders262{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders267{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders268{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders269{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders270{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders272{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders274{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders275{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders276{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders278{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders279{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders281{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders283{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders285{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders286{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders289{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders290{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders291{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders292{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders293{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders294{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders295{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders297{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders299{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders301{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders302{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders303{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders304{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders306{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders308{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders310{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders312{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders317{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders318{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders319{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders320{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders321{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders322{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders323{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders325{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders330{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders333{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders334{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders337{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders340{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders341{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders346{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders347{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders348{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders349{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders350{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders351{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders352{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders354{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders355{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders356{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders357{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders358{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders360{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders361{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders363{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders366{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders367{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders368{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders370{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders372{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders378{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders379{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders380{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders385{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders388{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders389{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders390{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders391{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders392{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders393{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders394{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders395{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders396{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders399{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders421{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders426{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders427{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders428{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders429{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders459{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders460{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders467{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders469{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders471{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders475{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders485{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders486{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders487{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders488{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders492{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders495{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders496{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders499{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders501{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders512{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders513{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders515{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders518{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders519{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders520{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders524{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders526{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders537{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders538{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders541{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders544{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders545{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders546{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders551{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders556{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders559{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders560{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders563{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders564{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders565{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders566{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders569{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders571{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders572{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders574{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders576{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders577{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders578{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders579{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders580{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders582{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders587{ border-radius: 4px; border: 4px solid #3C91DC;}
.ligneBorders589{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders592{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders594{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders595{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders597{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders542{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders583{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders581{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders562{ border-radius: 4px; border: 4px solid #640082;}
.ligneBorders584{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders584{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders593{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders585{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBorders601{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders602{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders603{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBorders604{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders605{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders607{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders609{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBorders610{ border-radius: 4px; border: 4px solid #D282BE;}
.ligneBorders613{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders614{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders615{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders616{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders617{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders618{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders619{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders619{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders619{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders619{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders620{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBorders623{ border-radius: 4px; border: 4px solid #82C8E6;}
.ligneBorders627{ border-radius: 4px; border: 4px solid #6E6E00;}
.ligneBorders637{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBorders640{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders641{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders642{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBorders644{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBorders645{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBorders690{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders690{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBordersN01{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBordersN02{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBordersN11{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBordersN12{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBordersN13{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBordersN14{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBordersN15{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBordersN16{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBordersN21{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBordersN22{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBordersN23{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBordersN24{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBordersN31{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBordersN32{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBordersN33{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBordersN34{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBordersN35{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBordersN41{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBordersN42{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBordersN43{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBordersN44{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBordersN45{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBordersN51{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBordersN52{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBordersN53{ border-radius: 4px; border: 4px solid #82DC73;}
.ligneBordersN61{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBordersN62{ border-radius: 4px; border: 4px solid #FF82B4;}
.ligneBordersN63{ border-radius: 4px; border: 4px solid #D2D200;}
.ligneBordersN66{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBordersN71{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBordersN122{ border-radius: 4px; border: 4px solid #3C91DC;}
.ligneBordersN130{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBordersN131{ border-radius: 4px; border: 4px solid #F9DF00;}
.ligneBordersN132{ border-radius: 4px; border: 4px solid #30A566;}
.ligneBordersN133{ border-radius: 4px; border: 4px solid #F9DF00;}
.ligneBordersN134{ border-radius: 4px; border: 4px solid #30A566;}
.ligneBordersN135{ border-radius: 4px; border: 4px solid #30A566;}
.ligneBordersN140{ border-radius: 4px; border: 4px solid #3C91DC;}
.ligneBordersN141{ border-radius: 4px; border: 4px solid #F2C931;}
.ligneBordersN142{ border-radius: 4px; border: 4px solid #DC5AB4;}
.ligneBordersN143{ border-radius: 4px; border: 4px solid #3C91DC;}
.ligneBordersN144{ border-radius: 4px; border: 4px solid #30A566;}
.ligneBordersN145{ border-radius: 4px; border: 4px solid #79BB92;}
.ligneBordersN150{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBordersN151{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBordersN152{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBordersN153{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBordersN154{ border-radius: 4px; border: 4px solid #F9DF00;}
.ligneBorders900{ border-radius: 4px; border: 4px solid #30A566;}
.ligneBorders901{ border-radius: 4px; border: 4px solid #0A0082;}
.ligneBorders902{ border-radius: 4px; border: 4px solid #FFBE00;}
.ligneBorders903{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBorders924{ border-radius: 4px; border: 4px solid #DC9600;}
.ligneBorders960{ border-radius: 4px; border: 4px solid #00643C;}
.ligneBordersT1{ border-radius: 4px; border: 4px solid #0055C8;}
.ligneBordersT2{ border-radius: 4px; border: 4px solid #A0006E;}
.ligneBordersT3a{ border-radius: 4px; border: 4px solid #FF5A00;}
.ligneBordersT3b{ border-radius: 4px; border: 4px solid #009641;}
.ligneBordersT5{ border-radius: 4px; border: 4px solid #640082;}
.ligneBordersT6{ border-radius: 4px; border: 4px solid #FF1400;}
.ligneBordersT7{ border-radius: 4px; border: 4px solid #5A230A;}
.ligneBordersT8{ border-radius: 4px; border: 4px solid #6E6E00;}